.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__button {
        border: 1px solid grey;
        border-radius: 10px;

        background-color: black;
        color: white;


        width: 50px;
        height: 30px;
        margin: 0 10px;

        &:hover {
            cursor: pointer;
        }
    }

    &__text {
        color:rgb(47, 47, 47);
        font-weight: 600;
    }

}

.active {
    background-color: rgb(47, 47, 47);
}